<%- include('../partials/header'); %>

  <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>

  <script>
    const editor = new EditorJS();
  </script>



  <main id="tt-pageContent">
    <div class="container">
      <div class="tt-wrapper-inner">
        <h1 class="tt-title-border">
          Create New Topic
        </h1>
        <form class="form-default form-create-topic" action="/post/new" method="POST">
          <div class="form-group">
            <label for="inputTopicTitle">Topic Title</label>
            <div class="tt-value-wrapper">
              <input type="text" name="title" class="form-control" id="inputTopicTitle" placeholder="Subject of your topic" required>
              <span class="tt-value-input">99</span>
            </div>
            <div class="tt-note">Describe your topic well, while keeping the subject as short as possible.</div>
          </div>

          <div class="pt-editor">
            <h6 class="pt-title">Topic Body</h6>

            <div class="form-group">
              <textarea id="mytextarea" name="description" class="form-control" rows="5" placeholder="Lets get started"></textarea>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="inputTopicTitle">Category</label>
                  <select class="form-control" name="category" required>
                    <option value="Select">Select</option>
                    <option value="Gereral">Gereral</option>
                    <option value="Science">Science</option>
                    <option value="Politics">Politics</option>
                    <option value="Social">Social</option>
                    <option value="Entertainment">Entertainment</option>
                    <option value="Exchange">Exchange</option>
                    <option value="Arts">Arts</option>
                  </select>
                </div>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <label for="inputTopicTags">Tags</label>
                  <input type="text" name="name" class="form-control" id="inputTopicTags" placeholder="Use comma to separate tags">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-auto ml-md-auto">
                <button type="submit" class="btn btn-secondary btn-width-lg">Create Post</button>

              </div>
            </div>
          </div>
        </form>
      </div>


    </div>
  </main>
  <%- include('../partials/footer'); %>
